
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif ;
}

body{
    font-family:"Poppins", sans-serif ;
}

/*transition*/
a{
    transition: all 300ms ;
}

/*Desktop_nav*/
nav,
.nav_links{
    display:flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    /* border: 2px solid red; */

}
.nav_links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color:grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
.name{
    font-size: 2rem;
}
.name:hover{
    cursor: default;
}
#Profile_text{
   margin-top: -700px;
   padding-left: 50%;
   font-size: 30px;
   border: 2px solid red;
   color: black;
}
#Profile_text>button{
    font-size: 16px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
}
#Profile_text>button:hover{
    background-color: rgb(65, 65, 213);
    color:white;
}

#Edu_div>div>img{
height: 400px;
width: 400px;
 margin-left: 10%;
 border-radius:80%;

}

#Edu_div>div>h1{
    /* border: 2px solid blue; */
    font-size: 50px;
    margin-left: 15%;
    margin-top: -16%;
    color:white;
}
#Edu_div>div>p{
     font-size:20px;
    margin-left: 45%;
    margin-top: -10%;
    color:black;
    text-align:justify;
}
#Skills_div>div>img{
    height: 600px;
    width: 100%;
    opacity: 0.4;
    position: relative;
    z-index: -1;
    
}

#Skills_div>div>h1{
    font-size: 50px;
    margin-top: -520px;
    margin-left: 20%;
    /* border: 2px solid red; */

}

#Skills_container{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    row-gap: 5px;
    column-gap:2px;
    margin-top: 50px;
    z-index: 1;
}

#Skills_container>div>img{
height: 100px;
width:200px;
margin-left: 40%;
border-radius: 50%;
border: 2px solid gray;
background-color: gray;
transition: height 2s,width 2s,background-color 2s;
}

#Skills_container>div>img:hover{
height: 120px;
width:250px;
background-color: rgb(29, 28, 28);
}

#Projects_container>h1{
    font-size: 40px;
    padding: 10px 650px ;
    /* border: 2px solid red; */
}

#Projects_container>div{
height: 500px;
width: 500px;
background-color: rgb(192, 188, 192);
transition: all 1s;
display: inline-block;
margin-left: 10%;
padding: 10px;
}

#Projects_container>div:hover{
height: 510px;
width: 510px;
border: 2px solid gray;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
background-color: rgb(136, 133, 136);
padding: 15px;
}

#footer{
    font-size:20px;
    padding-left: 500px;
}
#footer>p>a{
    color: blue;
    text-decoration:underline;
    text-decoration-color: blue;
}